.menu_content
  - if user_signed_in?
    .use_name
      %span
      Traveler:
      = current_user.nickname
    .user_nav.grid-6
      %ul.user__info
      %li
        %a.btn-box{:href => "/"}TOPへ戻る
      %li
        %a.btn-box{:href => "/users/#{current_user.id}"} マイページ
      %li
        = link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "btn-box"
      %li
        %a.btn-box{:href => "/informations/new"} 投稿する
  - else
    .user_nav.grid-6
      = link_to "ログイン", new_user_session_path, class: 'post' ,class: "btn-box"
      = link_to "新規登録", new_user_registration_path, class: 'post' ,class: "btn-box"