.l-side
  %nav.mypage-side
    %ul.mypage-side-list
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          北海道
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          青森県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          岩手県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          宮城県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          秋田県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          山形県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          福島県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          茨城県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          栃木県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          群馬県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          埼玉県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          千葉県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          東京都
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          神奈川県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          新潟県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          富山県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          石川県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          福井県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          山梨県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          長野県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          岐阜県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          静岡県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          愛知県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          三重県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          滋賀県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          京都府
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          大阪府
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          兵庫県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          奈良県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          和歌山県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          鳥取県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          島根県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          岡山県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          広島県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          山口県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          徳島県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          香川県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          愛媛県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          高知県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          福岡県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          佐賀県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          長崎県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          熊本県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          大分県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          宮崎県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          鹿児島県
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          沖縄県
          = icon('fas', 'angle-right', class: "contents__btn--icon")