%header 
  = render "header"
  = render "menuber"
.content_title
  %h3
    編集
.content_color
  .iphone
    .iphone-top
      %span.camera
      %span.sensor
      %span.speaker
    .top-bar
    .iphone-screen
      .contents.row
        = form_tag("/informations/#{@information.id}", method: :patch ) do
          %h3
            観光地名
          %textarea{:cols => "32", :name => "text", :placeholder => "text", :rows => "5"}= @information.text
          %h3
            観光地情報
          %textarea{:cols => "32", :name => "position", :placeholder => "text", :rows => "10"}= @information.position
          %h3
            観光地写真
          %input{:autofocus => "true", :name => "image", :placeholder => "Image Url", :type => "text", :value => "#{@information.image}"}/
          %input{:type => "submit", :value => "SENT"}/
    .buttons
      %span.on-off
      %span.sleep
      %span.up
      %span.down
    .bottom-bar
    .iphone-bottom
      %span
%footer 
  = render "footer"
